<p>Time now {{dateTime}}</p>

{{#timeIn}}

<div class="row">
    <div class="six columns">
        <p>Your Shift started at <b>{{timeIn}}</b></p>
    </div>
    <div class="offset-by-one five columns">
        <p>Hours worked <b>{{workedHours}}</b></p>
    </div>
</div>

{{#breakStarted}}
<form action="/app/endBreak" method="post">
    <input class="button-primary" type="submit" value="Break End">
</form>
{{/breakStarted}}
{{^breakStarted}}
<div class="row">
    <div class="five columns">
        <form action="/app/endShift" method="post">
            <input class="button-primary" type="submit" value="End Shift">
        </form>
    </div>
    <div class="offset-by-one five columns">
        <form action="/app/startBreak" method="post">
            <input class="button-primary" type="submit" value="Break Start">
        </form>
    </div>
</div>
{{/breakStarted}}


{{/timeIn}}
{{^timeIn}}
<form action="/app/startShift" method="post">
    <input class="button-primary" type="submit" value="Start Shift">
</form>
{{/timeIn}}