<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='/stylesheets/normalize.min.css'/>
    <link rel='stylesheet' href='/stylesheets/skeleton.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>

<nav class="navbar">
    <div class="container">
        <div class="row">
            <div class="two columns">
                <h2 class="navbar-heading">SW</h2>
            </div>
            <div class="offset-by-one six columns">
                <ul class="navbar-list">
                    {{#user}}
                    <li class="navbar-item"><a class="navbar-link" href="/app">Punch</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/app/list">List</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/logout">Logout</a></li>
                    {{/user}}
                    {{^user}}
                    <li class="navbar-item"><a class="navbar-link" href="/login">Login</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/register">Register</a></li>
                    {{/user}}
                </ul>
            </div>
            {{#user}}
            <div class="three columns">
                <p class="navbar-desc">You are : {{user.username}}</p>
            </div>
            {{/user}}
        </div>
    </div>
</nav>
<div class="container">
    {{{yield}}}
</div>
</body>
</html>