<p>Time now {{dateTime}} {{userTimeZone}}</p>
<p>Showing week ending on {{weekEndDisplay}}</p>

<div class="row">
    <div class="five columns">
        <a class="button" href="{{baseUrl}}?week_start={{weekStart}}">Previous</a>
    </div>
    {{#nextWeek}}
    <div class="offset-by-two five columns">
        <a class="button u-pull-right" href="{{baseUrl}}?week_start={{nextWeek}}">Next</a>
    </div>
    {{/nextWeek}}
</div>

<table class="u-full-width">
    <thead>
    <tr>
        <th>Date</th>
        <th>Login</th>
        <th>Logout</th>
        <th>Worked (Hours)</th>
        <th>Break (Hours)</th>
    </tr>
    </thead>
    <tbody>
    {{#data}}
    <tr>
        <td>{{date}}</td>
        <td>{{timeIn}}</td>
        <td>{{timeOut}}</td>
        <td>{{workedHours}}</td>
        <td>{{breakHours}}</td>
    </tr>
    {{/data}}
    <tr>
        <th colspan="4" style="text-align: right;">Total hours worked this week</th>
        <th>{{totalHoursWorked}}</th>
    </tr>
    </tbody>
</table>